<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link rel="shortcut icon" href="/img/Logo/Conscious Craft Co..png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/2112510991.js" crossorigin="anonymous"></script>
    <title>Conscious Craft Co.</title>
</head>
