<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partial/head') %>
    <title></title>
</head>

<body class="max-vh-100 vh-100">
    <%- include('../partial/nav') %>
    <header class="w-100 justify-content-center d-flex">
        <h2 class="fs-1 text-center fw-bold">Damos nuestras ganancias al planeta</h2>
    </header>
    <section class="container">
        <div class="row align-items-center flex-wrap">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="fs-5 fw-lighter m-3">
                    En <span class="text-secondary fw-bold">Conscious Craft Co.</span> estamos firmemente comprometidos con una visión de moda que trasciende las
                    tendencias efímeras y abraza un propósito más profundo: la responsabilidad social y ambiental.
                    <br><br>
                    Cuando decimos <span class="text-uppercase fw-bold text-secondary">Damos nuestras ganancias al planeta</span>, no es una simple frase publicitaria, es un compromiso
                    arraigado en nuestras acciones diarias y en la forma en que operamos como empresa.
                    <br><br>
                    Cada vez que realizas una compra con nosotros, estás haciendo mucho más que adquirir una prenda de moda. Estás
                    contribuyendo a un ciclo de cambio positivo que se extiende mucho más allá de nuestras tiendas. ¿Cómo lo
                    logramos?
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img class="img-fluid w-75 my-2" alt="" src="/img/Blog/ganancias-clean.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img class="img-fluid w-75 my-2" src="/img/Blog/event-2247390_640.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="fs-5 fw-lighter m-3">
                    Primero y ante todo, <span class="fw-bold">dedicamos una 5% de nuestras ganancias</span> a proyectos que
                    tienen un impacto tangible en la preservación del medio ambiente. Desde la reducción de nuestra huella de carbono
                    hasta la colaboración con organizaciones dedicadas a la reforestación y la conservación de ecosistemas delicados,
                    estamos comprometidos con la protección de nuestro planeta para las generaciones futuras.
                    <br><br>
                    Pero nuestro compromiso no se detiene ahí. También nos apasiona apoyar a las comunidades locales y a aquellos
                    que más lo necesitan. A través de programas de ayuda social, contribuimos al desarrollo de proyectos
                    que promueven la educación, la salud y el empoderamiento de mujeres y niñas en todo el mundo. Creemos en
                    el poder transformador de la educación y en la importancia de crear oportunidades para todos, sin importar su
                    género, origen o situación económica.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <p class="fs-5 fw-lighter m-3 text-center">
                    Cada compra que realizas es un voto a favor de un mundo más justo, equitativo y sostenible. Estamos orgullosos
                    de ser una marca que no solo busca el beneficio propio, sino que también se preocupa por el bienestar de nuestro
                    planeta y de todos sus habitantes. <br><br> Juntos, estamos construyendo un futuro mejor.
                </p>
            </div>
        </div>
        <div class="row text-center overflow-hidden">
            <div class="col-12">
                <img class="img-fluid img-thumbnail w-75 my-2" src="/img/Blog/ganancias-molino.jpg" alt="">
                <p class="fs-3 fw-bold mt-3">
                    !Únete a nosotros en esta misión! <br> <span class="text-secondary">Juntos</span>, podemos marcar la diferencia. <br> <span class="text-secondary">Juntos</span>, damos nuestras ganancias
                    al planeta y a quienes lo necesitan
                </p>
            </div>
        </div>
    </section>
    <%- include('../partial/footer') %>
</body>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</html>
