<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partial/head') %>
        <title></title>
</head>

<body class="max-vh-100 vh-100 p-0 m-0">

    <%- include('../partial/nav') %>
        <header class="d-flex flex-column">
            <div class="garantia d-flex align-items-center justify-content-center">
                <h2 class="fs-1 fw-bold text-info text-shadow-lg">Política de Devoluciones, Cambios y Garantía</h2>
            </div>
        </header>
        <section class="max-vh-100 d-flex flex-row justify-content-center py-5">
            <div class="w-75">
                <div>
                    <h4 class="fs-2 text-secondary py-5 my-4 text-decoration-underline">Devoluciones y Cambios</h4>
                    <h5 class="fs-4 my-3">Derecho de Desistimiento</h5>
                    <p class="my-3">De acuerdo con la normativa legal española (Ley 3/2014, de 27 de marzo), tienes
                        derecho
                        a desistir de
                        tu
                        compra en un plazo de 14 días naturales a partir de la recepción del producto, sin necesidad de
                        justificación alguna. Durante este período, puedes devolver el artículo adquirido siempre que se
                        encuentre
                        en su estado original, sin haber sido usado y en su embalaje original.</p>
                    <h5 class="fs-4 my-3">Proceso de Devolución</h5>
                    <p class="my-3">Para iniciar un proceso de devolución, por favor, ponte en contacto con nuestro
                        equipo
                        de atención
                        al
                        cliente dentro del plazo establecido. Te proporcionaremos las instrucciones necesarias y te
                        guiaremos en
                        cada paso del proceso. Una vez recibido el artículo devuelto y verificado su estado,
                        procederemos a
                        reembolsar el importe correspondiente mediante el método de pago original.</p>
                    <h5 class="fs-4 my-2">Cambios de Talla o Producto</h5>
                    <p class="my-3">Si necesitas cambiar la talla o el color de un artículo, estaremos encantados de
                        ayudarte a
                        encontrar la
                        mejor solución. Ponte en contacto con nosotros y te asistiremos en el proceso de intercambio,
                        sujeto
                        a
                        disponibilidad de stock y a las condiciones de nuestra política de cambios.</p>
                </div>
                <div class="w-75 my-4">
                    <h4 class="fs-2 text-secondary py-5 my-4 text-decoration-underline">Garantía de Productos</h4>
                    <h5 class="fs-4 my-2">Garantía Legal</h5>
                    <p class="my-3">De acuerdo con la normativa legal española (Ley 3/2014, de 27 de marzo), tienes
                        derecho a
                        desistir de
                        tu
                        compra en un plazo de 14 días naturales a partir de la recepción del producto, sin necesidad de
                        justificación alguna. Durante este período, puedes devolver el artículo adquirido siempre que se
                        encuentre
                        en su estado original, sin haber sido usado y en su embalaje original.</p>
                    <h5 class="fs-4 my-2">Proceso de Devolución</h5>
                    <p class="my-3">Para iniciar un proceso de devolución, por favor, ponte en contacto con nuestro
                        equipo de
                        atención
                        al
                        cliente dentro del plazo establecido. Te proporcionaremos las instrucciones necesarias y te
                        guiaremos en
                        cada paso del proceso. Una vez recibido el artículo devuelto y verificado su estado,
                        procederemos a
                        reembolsar el importe correspondiente mediante el método de pago original.</p>
                    <h5 class="fs-4 my-2">Cambios de Talla o Producto</h5>
                    <p class="my-3">Si necesitas cambiar la talla o el color de un artículo, estaremos
                        encantados de
                        ayudarte a
                        encontrar la
                        mejor solución. Ponte en contacto con nosotros y te asistiremos en el proceso de
                        intercambio,
                        sujeto
                        a
                        disponibilidad de stock y a las condiciones de nuestra política de cambios.</p>

                    <p class="my-3"> Todos nuestros productos están cubiertos por la garantía legal contra
                        defectos
                        de
                        fabricación
                        durante un
                        período de dos años a partir de la fecha de entrega. En caso de que el artículo
                        adquirido
                        presente
                        algún
                        defecto, te ofrecemos reparación, sustitución, rebaja del precio o resolución del
                        contrato,
                        de
                        acuerdo
                        con
                        lo establecido por la ley.</p>
                    <h5 class="fs-4 my-2">Proceso de Garantía</h5>
                    <p class="my-3"> Si necesitas hacer valer la garantía de un producto, por favor, ponte en
                        contacto con
                        nuestro
                        equipo
                        de
                        atención al cliente. Te solicitaremos la información necesaria y evaluaremos tu caso de
                        forma
                        individualizada para ofrecerte la mejor solución posible.</p>
                    <h5 class="fs-4 my-2">Condiciones de Devolución</h5>
                    <p class="my-3"> Los productos devueltos deben estar en su estado original, sin usar y con
                        todas
                        las
                        etiquetas y
                        embalajes
                        originales intactos. Nos reservamos el derecho de rechazar la devolución si el artículo
                        no
                        cumple
                        con
                        estas
                        condiciones.</p>
                </div>
        </section>
        <%- include('../partial/footer') %>
</body>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</html>