<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partial/head') %>
    <title></title>
</head>

<body class="max-vh-100 vh-100">
    <%- include('../partial/nav') %>
    <header class="w-100 justify-content-center d-flex">
        <h2 class="fs-1 text-center fw-bold">Asumimos la Responsabilidad de Nuestro Impacto</h2>
    </header>
    <section class="w-100 d-flex align-items-center flex-wrap">
        <div class="d-flex flex-wrap justify-content-center align-items-center mx-2">
            <p class="col-12 col-lg-6 fs-5 fw-lighter m-5">
                En <span class="text-secondary fw-bold">Conscious Craft Co.</span>entendemos que cada acción cuenta
                y que nuestras decisiones empresariales tienen un impacto directo en el mundo que nos rodea. Por ello, hemos asumido la responsabilidad de medir, gestionar y minimizar nuestra huella ecológica y social. Nuestro compromiso con la sostenibilidad y la ética se refleja en todas las áreas de nuestra operación, desde la selección de materiales hasta la entrega final de nuestros productos.<br>
            </p>
            <div class="video-container col-12 col-lg-6 py-1">
                <video autoplay loop muted class="w-100">
                    <source src="/img/Blog/impacto-video.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center align-items-center mx-4">
            <h4 class="col-12 fs-3 text-secondary py-5 my-4 text-decoration-underline text-center">Explora Nuestra Huella</h4>
            <p class="col-12 col-lg-8 fs-5 fw-lighter m-5 text-center text-lg-start">
                La transparencia es la piedra angular de nuestra filosofía empresarial. Nos aseguramos de que todos nuestros proveedores cumplan con estrictos estándares éticos y ambientales. Realizamos auditorías regulares para verificar las prácticas laborales, garantizando condiciones de trabajo justas y seguras. Además, fomentamos el uso de materiales sostenibles y métodos de producción que reduzcan el impacto ambiental. Trabajamos en estrecha colaboración con nuestros socios para asegurar que cada paso de nuestra cadena de suministro respete los principios de <span class="fw-bold text-secondary">sostenibilidad</span> y <span class="fw-bold text-secondary">responsabilidad social.</span>
            </p>
        </div>
        <div class="d-flex flex-wrap justify-content-center align-items-center mx-4">
            <img class="col-12 col-lg-6 p-3" src="/img/Blog/telares.jpg" alt="">
            <ul class="col-12 col-lg-6 p-3">
                <li class="my-2">
                    <span class="fs-5 fw-bold">Transparencia en la Cadena de Suministro:</span>
                    <p>La transparencia es la piedra angular de nuestra filosofía empresarial. Nos aseguramos de que todos nuestros proveedores cumplan con estrictos estándares éticos y ambientales. Realizamos auditorías regulares para verificar las prácticas laborales, garantizando condiciones de trabajo justas y seguras. Además, fomentamos el uso de materiales sostenibles y métodos de producción que reduzcan el impacto ambiental. Trabajamos en estrecha colaboración con nuestros socios para asegurar que cada paso de nuestra cadena de suministro respete los principios de sostenibilidad y responsabilidad social.</p>
                </li>
                <li class="my-2">
                    <span class="fs-5 fw-bold">Producción Sostenible:</span>
                    <p>Nuestra producción se basa en procesos que minimizan el uso de recursos naturales y la generación de residuos. Hemos adoptado tecnologías innovadoras que nos permiten reducir el consumo de agua y energía en la fabricación de nuestras prendas. Utilizamos tintes ecológicos y tejidos orgánicos, reciclados o de bajo impacto ambiental. Nuestro objetivo es crear moda que no solo se vea bien, sino que también sea respetuosa con el planeta. Cada prenda que diseñamos pasa por un riguroso proceso de evaluación para asegurar que cumple con nuestros altos estándares de sostenibilidad.</p>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-wrap justify-content-center align-items-center mx-4">
            <ul class="col-12 col-lg-6 p-3">
                <li class="my-2">
                    <span class="fs-5 fw-bold">Reducción de Emisiones:</span>
                    <p>Nos esforzamos por reducir nuestra huella de carbono en cada etapa de nuestro proceso productivo. Desde la elección de materias primas hasta la entrega final de nuestros productos, buscamos continuamente maneras de disminuir nuestras emisiones de CO2. Implementamos prácticas de eficiencia energética en nuestras instalaciones y promovemos el uso de energías renovables. Además, optimizamos nuestras rutas de transporte y logística para reducir las emisiones asociadas con el envío de nuestros productos.</p>
                </li>
                <li class="my-2">
                    <span class="fs-5 fw-bold">Iniciativas de Reciclaje:</span>
                    <p>Fomentamos una economía circular a través de programas de reciclaje y reutilización de materiales. Invitamos a nuestros clientes a participar en estas iniciativas, ofreciéndoles la posibilidad de devolver sus prendas usadas para que puedan ser recicladas y transformadas en nuevos productos. Implementamos programas de reciclaje en nuestras tiendas y en línea, facilitando a nuestros clientes la devolución de prendas y el acceso a productos hechos a partir de materiales reciclados. Cada prenda devuelta es una oportunidad para reducir el desperdicio y cerrar el ciclo de vida de nuestros productos de manera sostenible.</p>
                </li>
            </ul>
            <img class="col-12 col-lg-6 p-3" src="/img/Blog/eolicas.jpg" alt="">
        </div>
        <div class="w-100 d-flex flex-wrap justify-content-center align-items-center mx-4">
            <p class="fs-5 col-12 col-lg-8 fw-lighter m-5">
                En <span class="text-secondary fw-bold">Conscious Craft Co.</span>, creemos que la moda puede ser una fuerza para el bien. Te invitamos a
                explorar nuestra huella y a descubrir cómo estamos liderando el cambio hacia un futuro más
                sostenible y justo. Con cada compra, con cada elección consciente, estamos un paso más cerca de un
                mundo donde la moda y la responsabilidad social van de la mano.
            </p>
            <p class="fs-5 col-12 col-lg-8 fw-lighter m-5">
                Explora nuestra huella y sé parte del cambio con <span class="text-secondary fw-bold">Conscious Craft Co.</span>. Juntos, podemos crear un
                impacto positivo y duradero.
            </p>
        </div>
    </section>
    <%- include('../partial/footer') %>
</body>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</html>
