<!DOCTYPE html>
<html lang="es">
<%- include('../partial/head.ejs') %>

    <body>
        <%- include('../partial/nav.ejs') %>
            <main class="container my-5">
                <h2>Carrito</h2>
                <div id="carritoContainer"></div>
                <form id="checkoutForm">
                    <div class="mb-3">
                        <label for="direccion_envio" class="form-label">Dirección de Envío</label>
                        <input type="text" class="form-control" id="direccion_envio" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Realizar Pedido</button>
                </form>
            </main>
            <%- include('../partial/footer.ejs') %>
                <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
                <script type="module" src="/script/bucle.js"></script>
                <script type="module" src="/script/gestionCarrito.js"></script>
    </body>

</html>