<!DOCTYPE html>
<html lang="es">
<%- include('../partial/head') %>

    <body id="session">
        <%- include('../partial/nav') %>

            <main class="form-signin w-100% d-flex justify-content-center m-5">
                <form class="col-lg-4 text-center" id="loginForm">
                    <h1 class="h3 mb-3 fw-normal text-center">Iniciar sesión</h1>

                    <div class="form-floating m-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                        <label for="floatingInput">Correo electrónico</label>
                    </div>
                    <div class="form-floating m-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                        <label for="floatingPassword">Contraseña</label>
                    </div>

                    <div class="form-check text-start my-3">
                        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                        <label class="form-check-label text-danger" for="flexCheckDefault">Recuérdame</label>
                    </div>
                    <button class="btn btn-primary w-100 py-2" type="submit">¡Acceder!</button>
                    <a class="text-decoration-none" href="/log/registro/">
                        <p class="mt-5 mb-3 text-center text-dark fw-bold">¡Registrarse!</p>
                    </a>
                    <p class="mt-5 mb-3 text-body-dark">© 2024 Conscious Craft Co.</p>
                </form>
            </main>
            <%- include('../partial/footer') %>
                <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
                <script>
                    document.getElementById('loginForm').addEventListener('submit', async (event) => {
                        event.preventDefault();
                        const email = document.getElementById('floatingInput').value;
                        const contrasena = document.getElementById('floatingPassword').value;

                        try {
                            const response = await fetch('/log/sesion', {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify({ email, contrasena })
                            });

                            if (!response.ok) throw new Error('Error al iniciar sesión');

                            const result = await response.json();
                            if (result.success) {
                                document.cookie = `token=${result.token}; path=/;`; // Almacena el token en una cookie
                                alert('Inicio de sesión exitoso');
                                localStorage.setItem('nombreUsuario', result.nombre);
                                window.location.href = '/'; 
                            } else {
                                alert(result.message);
                            }
                        } catch (error) {
                            console.error('Error al iniciar sesión:', error);
                            alert('Error al iniciar sesión');
                        }
                    });
                </script>
    </body>

</html>
